@import '../src/scss/themes/theme-dark.scss';
@import '../src/scss/themes/theme-light.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'EDDaffodil-DEMO-Regular';
  src: url('https://jessekevon.github.io/work/fonts/EDDaffodil-DEMO-Regular.otf');
}

// Global resets

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

iframe {
	display: none !important;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Text

.title-container {
	height: 50px;
}

.title-styles {
	font-size: 24px;
	color: #fff;
}

h1,
h2,
h3 {
  font-family: 'EDDaffodil-DEMO-Regular';
}

h2.section-title {
	color: #fff;
	font-size: 64px;
	text-align: center;	
	padding-top: 5%;
	padding-bottom: 5%;
}

// Section global

section {
	min-height: 100vh;
	padding: calc(40px - 5%) 0 40px;
}

// Hero

.fullscreen-video {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh,1vh) * 100);
  overflow: hidden;
  position: relative;
}

.fullscreen-video video {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  background-position: 50% 50%;
}

.fullscreen-video .video-text-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.17);
}

.slideshow,
.slide {
  position: relative;
}

.slide {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
}

.slide:not(.slide--current) {
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
}

// Hero Header

.header-icon {
	height: 150px;
	width: 150px;
}

header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	h1, h3 {
		color: #E9DD02;
		text-align: center;
		text-shadow: rgba($color: #000000, $alpha: 0.25) 2px 0 12px;
	}

	h1 {
		font-size: 96px;
		margin: 0 auto 18px auto;
		width: 100%;	
		margin-top: 190px;
	}

	h3 {
		font-size: 28px;
	}
}

// About

.about {
	background: #145105;
	overflow: hidden;

	p {
		color: #fff;
		font-size: 18px;
	}
}

// Projects / Portfolio

.project-title-settings {
	font-family: 'EDDaffodil-DEMO-Regular';
	padding: 20px;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

// Portfolio

#portfolio {
	background: #000;
}

.portfolio-item {
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

@media (min-width: 576px) {
	.portfolio .closeButtonResponsive {
		display: block;
	}
	.portfolio .portfolio-item {
		margin-bottom: 30px;
	}
}

// Skills

.skills-tile {
	background-color: transparentize(#E4E2D6, 0.95);
	padding: 10px 10px 5px 10px;
	width: 100px;
	margin: 5px 0 5px 0;
	border-radius: 8px;
}

.slider-image {
	border: 5px solid #0e1728;
}

.slider-tab {
	background-color: #0e1728;
	height: 25px;
}

.slider-iconfiy {
	margin-top: 10px;
}

.styles_typicalWrapper__1_Uvh::after {
	display: none;
}

.foto img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;

	@media screen and (min-width: 1024px) {
		height: 175px;
	}

	@media screen and (min-width: 1170px) {
		height: 280px;
	}
}

.foto div {
	background: #E4E2D6;
	display: inline-block;
	margin: 0 auto 5% auto;
	padding: 10px 10px 5px;
	text-align: center;
	text-decoration: none;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.foto div:after {
	color: #fff;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.foto div:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
	z-index: 10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.polaroid img {
	display: block;
	max-width: 100%;
	border-radius: 50%;
	border: 2px solid;
	filter: saturate(0.5);

	@media screen and (min-width: 1024px) {
		height: 325px;
	}
}

.wave {
	font-size: 160%;
}

#preview {
	width: 500px;
	background-color: #E4E2D6;
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Resume

#resume {
	background: #145105;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.main-badge {
	font-size: 13px;
	text-align: left;
	padding: 5px 8px 5px 8px;
	vertical-align: baseline;
	background-color: #0e1728;
	color: #E4E2D6;
}

.experience-badge {
	font-size: 11px;
	text-align: left;
	padding: 5px 8px 5px 8px;
	vertical-align: baseline;
	background-color: #0e1728;
	color: #E4E2D6;
	font-weight: lighter;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}

.modal-inside .modal-content {
	background: white;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.close-icon {
	color: #fff;
	font-weight: lighter;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

#skills {
	background: #0e1728;
	min-height: 200px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 10%;
}

.skill-icon {
	font-size: 180%;
	color: white;
	text-align: center;
	position: relative;
}

footer {
	background: #0e1728;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: white;
	position: relative;
	text-align: center;
}

footer a,
footer a:visited {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
}

.social-links {
	margin-top: 50px;
	font-size: 22px;
}

// Theme overrides

.react-switch,
.language {
	display: none !important;
}